extends my-settings-top

append head
    link(rel='stylesheet', href='/cillmit99b/my-settings-groups.css')

block content2
    h3 Create New Private Group

    if error
        | #{error.message}

    if info
        | #{info.message}

    form(method="post")
        div
            label(for="group") Group
            input(name="group" id="group")
        div
            input(type="submit" value="Create")

    h3 Your Created Private Groups

    if createdGroups.length > 0
        ul
            each group in createdGroups
                li
                    a(href=`/g/${group.name}`)= group.name
                    | 
                    a(href=`/settings/group?name=${group.name}`) [settings]
    else
        div None

    h3 Other Private Group Memberships

    if memberGroups.length > 0
        ul
            each group in memberGroups
                li
                    a(href=`/g/${group.name}`)= group.name
    else
        div None
