extends ../layout

mixin followLink(username, publicId)
    - const pagePart = page < 2 ? '' : `?p=${page}`
    - const sortNameValue = (sort !== '') ? `sort=${sort}` : ''
    - const sortSeparator = (pagePart === '') ? '?' : '&'
    - const sortPart = (sortNameValue !== '') ? `${sortSeparator}${sortNameValue}` : ''
    - const goto = encodeURIComponent(`${baseUrl}${pagePart}${sortPart}`)
    a(href=`/following?follow=${publicId}${goto ? `&goto=${goto}` : ''}` class="follow" title=`follow ${username}`) +

mixin unfollowLink(username, publicId)
    - const pagePart = page < 2 ? '' : `?p=${page}`
    - const sortNameValue = (sort !== '') ? `sort=${sort}` : ''
    - const sortSeparator = (pagePart === '') ? '?' : '&'
    - const sortPart = (sortNameValue !== '') ? `${sortSeparator}${sortNameValue}` : ''
    - const goto = encodeURIComponent(`${baseUrl}${pagePart}${sortPart}`)
    a(href=`/following?unfollow=${publicId}${goto ? `&goto=${goto}` : ''}` class="unfollow" title=`unfollow ${username}`) -

block content
    - const goto = (sort === '') ? baseUrl : `${baseUrl}?sort=${sort}`

    if pageTag
        h2.pageh1
            |r/#{pageTag}
            if user
                | 
                a(href=`/new?group=${pageTag}`) new post

    if isDiscoverMode
        div(class="alert2o")
            span(class="alert2")
                |Showing all posts. 
                a(href=`/settings?viewmode=following-only${goto ? `&goto=${goto}` : ''}`) Switch to following only
                |.
    else
        div(class="alert2o")
            span(class="alert2")
                |Some posts may be hidden. 
                a(href=`/settings?viewmode=discover${goto ? `&goto=${goto}` : ''}`) Show all
                |.

    div.sort1o
        span.sort1
            |sort:
            | 
            a(href=baseUrl) newest
            | 
            a(href=`${baseUrl}?sort=oldest`) oldest
            | 
            a(href=`${baseUrl}?sort=comments`) comments
            | 
            a(href=`${baseUrl}?sort=last`) last comment

    if posts && posts.length > 0
        .posts
            each post in posts
                div
                    if true
                        if post.link === null
                            a(class="ptitle" href=`/p/${post.public_id}`) #{post.title}
                        else
                            a(class="ptitle" href=`/leaving?goto=${post.link}`)= post.title
                            | 
                            span.domname1 (#{post.domain_name})

                        div.pinfo1
                            span(class="puser") by #[a(href=`/u/${post.username}`) #{post.username}]
                            | 

                            if !user || (post.user_id != user.user_id)
                                if post.is_follow
                                    +unfollowLink(post.username, post.user_public_id)
                                else
                                    +followLink(post.username, post.user_public_id)

                            | 
                            span(class="pdate") on #{post.created_on}

                            if post.tags.length
                                | 
                                |to
                                each tag in post.tags
                                    | 
                                    a(href=`/g/${tag}` class="tag1")=tag

                            | 
                            span.plinks
                                a(href=`/p/${post.public_id}`) comments(#{post.num_comments})

                                if user && user.user_id == post.user_id
                                    | 
                                    a(href=`/p/${post.public_id}/edit`) edit
                    else
                        span(class="puser2") by #{post.username}
                        | 

                        if !user || (post.user_id != user.user_id)
                            if post.is_follow
                                +unfollowLink(post.username, post.user_public_id)
                            else
                                +followLink(post.username, post.user_public_id)

                        | 
                        span(class="pdate2") on #{post.created_on}
                        | 
                        a(class="pcount2" href=`/p/${post.public_id}`) comments(#{post.num_comments})
    else
        span no more posts
    div
        if page > 1
            a(class="more" href=`${baseUrl}?p=${page - 1}${sort ? `&sort=${sort}` : ''}`) &pr; prev 
        if page > 0
            a(class="more" href=`${baseUrl}?p=${page + 1}${sort ? `&sort=${sort}` : ''}`) more &gt;
